{% extends 'layout.twig' %}

{% block body %}


	<div style="height:25px; width: 100%; text-align:right; padding-right:0px; color: #000;">
		<span id="accountaddress" style="font-size:20px;">{{loadedAccount}}</span> <button style="border:0px; padding:3px; background: transparent;" data-clipboard-target="#accountaddress" id="copyaddress"><svg fill="#000" style="width:20px; height:20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M224 0c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224zM64 160c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H288v64H64V224h64V160H64z"/></svg></button>
	</div>
	<div id='transactiongrid' style="height:100%; width:100%;"></div>



{% endblock %}
{% block javascripts %}
<script>window.Big = require('big.js');</script>
<script>
$(document).ready(function() {

	var loadedAddress = "{{loadedAccount}}";

  	new ClipboardJS('#copyaddress');
  	
  	$('#copyaddress').popover({trigger: 'focus', content: "{{ i18n.__("Copied") }}", delay: { "hide": 900 }});
	
	function forceRefresh() {

		$('#forcerefrsh').addClass('fa-spin');
		
		socket.emit('forcerefresh');
	
	}
	
	const grid = new gridjs.Grid({
	  columns: [
	  	{
	  		id: 'date',
	  		name: '{{ i18n.__("Date") }}'
	  	},
	  	{
	  		id: 'type',
	  		name: '{{ i18n.__("Type") }}',
			formatter: (cell) => {
				return gridjs.html(cell == 'Send' ? '<span style="color:red;">{{ i18n.__("Send") }}</span>' : '<span style="color:green;">{{ i18n.__("Receive") }}</span>');
			},
	  	},
	  	{
	  		id: 'txid',
	  		name: '{{ i18n.__("TransactionId") }}'
	  	},
	  	{
	  		id: 'amount',
	  		name: '{{ i18n.__("Amount") }}',
			formatter: (cell) => {
				return gridjs.html("<div style='text-align:right;'>" + cell + " BMB</div>");
			},
			sort: {
				compare: (a, b) => {
				  const code = (x) => parseFloat(x.replace(" BMB", ''));

				  if (code(a) > code(b)) {
					return 1;
				  } else if (code(b) > code(a)) {
					return -1;
				  } else {
					return 0;
				  }
				}
			}
		},
		{
			id: 'from',
			hidden: true
		},
		{
			id: 'to',
			hidden: true
		}
	  ],
      search: {
        enabled: true
      },
	  language: {
		'search': {
		  'placeholder': 'ðŸ” search...'
		},
	  },
	  style: { 
		table: { 
		  'white-space': 'nowrap'
		}
	  },
	  sort: {
		multiColumn: true
	  },
	  pagination: {
		enabled: false
	  },
	  fixedHeader: true,
	  height: 'calc(100vh - 151px)',
	  data: () => {
		return new Promise(resolve => {
		
			socket.emit('transactionList', function(data) {

				resolve(
				  data.map(txinfo => [
					(new Date(parseInt(txinfo.timestamp))).toLocaleString(),
					txinfo.to == loadedAddress ? 'Receive' : 'Send',
					gridjs.html(`<span class='transactioninfo' data-pending="` + (txinfo.pending?txinfo.pending:false) + `" data-txid="` + txinfo.txid + `" data-from="` + txinfo.from + `" data-to="` + txinfo.to + `" data-amount="` + txinfo.amount + `" data-fee="` + txinfo.fee + `" data-timestamp="` + txinfo.timestamp + `" style='font-weight:bold; color: blue; cursor: pointer;'>`+txinfo.txid+`</span>` + (txinfo.pending==true?` <i class="fa-regular fa-clock"></i>`:``)),
					Big(txinfo.amount).div(10**4).toFixed(4),
					txinfo.from,
					txinfo.to
				  ])
				);

			});
		
		});
	  }
	}).render(document.getElementById("transactiongrid"));

	class RightTopSpanPlugin extends gridjs.BaseComponent {

		render() {
  
			return gridjs.h('span', {
								style: 'float:right; font-size:22px; padding: 5px; padding-right:0px;',
								id: 'accountValue',
								}, '');

		}
		
	}

	grid.plugin.add({
	  id: 'accountValue',
	  component: RightTopSpanPlugin,
	  position: gridjs.PluginPosition.Header,
	  order: 1
	});


	grid.on('ready', function() {
		
		infoButtons();
     
	});

	function infoButtons() {
	
		$('.transactioninfo').off('click');
		$('.transactioninfo').on('click', function() {
	
			let thistxid = $(this).data('txid');
			let thisfrom = $(this).data('from');
			let thisto = $(this).data('to');
			let thispending = $(this).data('pending');

			let thisamount = '0.0000';
			
			try {
				thisamount = Big($(this).data('amount')).div(10**4).toFixed(4);
			} catch (e) {
				
			}	
			
			let thisfee = '0.0000';
			
			try {
				thisfee = Big($(this).data('fee')).div(10**4).toFixed(4);
			} catch (e) {
				
			}
			
			let thistimestamp = $(this).data('timestamp');

			var htmlcode = `<div style="color: #000;">
					<div style="margin-left:-20px; margin-right: -20px; padding:2px; padding-left:10px; background-color: rgb(245, 248, 250); font-size:12px;">{{ i18n.__("Transaction ID") }} &nbsp;&nbsp; <button class="copy-button" data-clipboard-target="#copy-input-txid" style="font-weight: bold; border:0px; padding:0px; margin:0px;"><svg style="width:16px; height:16px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M224 0c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224zM64 160c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H288v64H64V224h64V160H64z"/></svg></button></div>
					<div id="copy-input-txid" class="nicescrollable" style="padding:2px;">` + thistxid + `</div>
					<div style="margin-left:-20px; margin-right: -20px; padding:2px; padding-left:10px; background-color: rgb(245, 248, 250); font-size:12px;">{{ i18n.__("From Address") }} &nbsp;&nbsp; <button class="copy-button" data-clipboard-target="#copy-input-addr" style="font-weight: bold;  border:0px; padding:0px; margin:0px;"><svg style="width:16px; height:16px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M224 0c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224zM64 160c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H288v64H64V224h64V160H64z"/></svg></button></div>
					<div id="copy-input-addr" class="nicescrollable" style="padding:2px;">` + thisfrom + `</div>
					<div style="margin-left:-20px; margin-right: -20px; padding:2px; padding-left:10px; background-color: rgb(245, 248, 250); font-size:12px;">{{ i18n.__("To Address") }} &nbsp;&nbsp; <button class="copy-button" data-clipboard-target="#copy-input-addr2" style="font-weight: bold;  border:0px; padding:0px; margin:0px;"><svg style="width:16px; height:16px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M224 0c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224zM64 160c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H288v64H64V224h64V160H64z"/></svg></button></div>
					<div id="copy-input-addr2" class="nicescrollable" style="padding:2px;">` + thisto + `</div>
					<div style="margin-left:-20px; margin-right: -20px; padding:2px; padding-left:10px; background-color: rgb(245, 248, 250); font-size:12px;">{{ i18n.__("Amount") }}</div>
					<div style="padding:2px;" class="nicescrollable">` + thisamount + `</div>
					<div style="margin-left:-20px; margin-right: -20px; padding:2px; padding-left:10px; background-color: rgb(245, 248, 250); font-size:12px;">{{ i18n.__("Fee") }}</div>
					<div style="padding:2px;" class="nicescrollable">` + thisfee + `</div>
					<div style="margin-left:-20px; margin-right: -20px; padding:2px; padding-left:10px; background-color: rgb(245, 248, 250); font-size:12px;">{{ i18n.__("Timestamp") }}</div>
					<div style="padding:2px;" class="nicescrollable">` + (new Date(parseInt(thistimestamp))).toLocaleString() + `</div>
					<div style="margin-left:-20px; margin-right: -20px; padding:2px; padding-left:10px; background-color: rgb(245, 248, 250); font-size:12px;">{{ i18n.__("Status") }}</div>
					<div style="padding:2px;" class="nicescrollable">` + (thispending==true?'{{ i18n.__("Pending") }}':'{{ i18n.__("Confirmed") }}') + `</div>
					</div>`;

		  	var frag = document.createRange().createContextualFragment('<div style="text-align:left;">' + htmlcode + '</div>');
  
		  	let wrapper = document.createElement('div');
		  	wrapper.appendChild(frag);

		  	const el = wrapper.firstChild;
  
		  	const swaltext = "{{ i18n.__("Transaction Details") }}";
		  
			swal({
			  text: swaltext,
			  content: el,
			  buttons: {
				confirm: "{{ i18n.__("OK") }}",
			  },
			});
				
			$(".nicescrollable").niceScroll();

  			new ClipboardJS('.copy-button');
  	
  			$('.copy-button').popover({trigger: 'focus', content: "{{ i18n.__("Copied") }}", delay: { "hide": 900 }});

		});
	
	}
	
	socket.emit('accountInfo', function(accountInfo) {
	
		$('#accountaddress').html(accountInfo.address);
		
		loadedAddress = accountInfo.address;
		
		let formattedBalance = Big(0).toFixed(4) + " BMB <i id='forcerefrsh' class='fa-solid fa-sync' style='cursor:pointer;'></i>";
		
		try {
			formattedBalance = Big(accountInfo.balance).toFixed(4) + " BMB <i id='forcerefrsh' class='fa-solid fa-sync' style='cursor:pointer;'></i>";
		} catch (e) {
		
		}
		
		$('#accountValue').html(formattedBalance);
		
		$('#forcerefrsh').off('click');
		$('#forcerefrsh').on('click', function() {
			forceRefresh();
		});

	});

	socket.on('accountUpdate', function () { 
		
        grid.updateConfig({
          data: () => {
			return new Promise(resolve => {
		
				socket.emit('transactionList', function(data) {
					
					resolve(
					  data.map(txinfo => [
						(new Date(parseInt(txinfo.timestamp))).toLocaleString(),
						txinfo.to == loadedAddress ? 'Receive' : 'Send',
						gridjs.html(`<span class='transactioninfo' data-pending="` + (txinfo.pending?txinfo.pending:false) + `" data-txid="` + txinfo.txid + `" data-from="` + txinfo.from + `" data-to="` + txinfo.to + `" data-amount="` + txinfo.amount + `" data-fee="` + txinfo.fee + `" data-timestamp="` + txinfo.timestamp + `" style='font-weight:bold; color: blue; cursor: pointer;'>`+txinfo.txid+`</span>` + (txinfo.pending==true?` <i class="fa-regular fa-clock"></i>`:``)),
						Big(txinfo.amount).div(10**4).toFixed(4)
					  ])
					);

				});
		
			});
		  },
		  plugins: [
			{
			  id: 'accountValue',
			  component: RightTopSpanPlugin,
			  position: gridjs.PluginPosition.Header,
			  order: 1
			}
		  ]
        }).forceRender();

		
		socket.emit('accountInfo', function(accountInfo) {
	
			$('#accountaddress').html(accountInfo.address);
		
			loadedAddress = accountInfo.address;
		
			let formattedBalance = Big(0).toFixed(4) + " BMB <i id='forcerefrsh' class='fa-solid fa-sync' style='cursor:pointer;'></i>";
		
			try {
				formattedBalance = Big(accountInfo.balance).toFixed(4) + " BMB <i id='forcerefrsh' class='fa-solid fa-sync' style='cursor:pointer;'></i>";
			} catch (e) {
		
			}
		
			$('#accountValue').html(formattedBalance);

			$('#forcerefrsh').off('click');
			$('#forcerefrsh').on('click', function() {
				forceRefresh();
			});
		
		});
		
	});

});    
    
</script>
{% endblock %}