<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">



  <title>{{ i18n.__("Bamboo Wallet") }} {{ version }}</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <link href="../vendor/fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="../vendor/fontawesome/css/brands.css" rel="stylesheet">
  <link href="../vendor/fontawesome/css/solid.css" rel="stylesheet">
  
  <link href="../vendor/grid/mermaid.min.css" rel="stylesheet">
  <link href="../static/main.css" rel="stylesheet">

    <style>

		/* GridJs Overrides */
		
    	/* fix */
		.gridjs-table{
			min-width: 100%;
		}
		
		.gridjs-container {
			color: #000;
		}

		.gridjs-wrapper {
			border-radius: 4px 4px 0 0;
			box-shadow: unset;
		}

		th.gridjs-th {
			padding: 3px;
			border: 0px;
		}

		th.gridjs-th:not(.gridjs-th-sort) {
			padding-right:15px;
		}
		
		th.gridjs-th .gridjs-th-content {
			text-align: center;
			padding-left:10px;
			font-weight: normal;
			font-size: 12px;
			padding-top: 3px;
		}		
		
		td.gridjs-td {
			border: 0px;
			border-bottom: 1px solid #ccc;
			padding: 6px 12px;
		}

		.gridjs-table tr:nth-child(2n+2){
			background: #ddd;
		}

		.swal-text:first-child {
			margin-top: 0px;
			padding: 10px;
			font-weight: bold;
			border-bottom: 1px solid #aaa;
    		width: 100%;
    		border-top-right-radius: 5px;
    		border-top-left-radius: 5px;
    		color: #fff;
    		background-color: #12121c;
    		max-width: 100%;
    	}
    	
		.swal-footer {
		  background-color: rgb(245, 248, 250);
		  margin-top: 32px;
		  border-top: 1px solid #E9EEF1;
		  overflow: hidden;
		}
		
		.popover {
			z-index: 99999;
		}
		
		//
		
	</style>



</head>

<body>

  <!-- Navigation -->
  <nav id="topnav" class="navbar navbar-expand-lg navbar-dark bg-dark static-top" style="position: sticky; z-index:999; top:0px; height:40px;">
    <div style="width:100%;">
    
      <img src="../static/media/bamboo-bmb-logo.png" style="height:35px; display: inline; margin:2px; margin-left:5px; vertical-align: middle;">
      <a id="gotohome" class="navbar-brand" href="javascript:void (0);" style="margin-left:30px; vertical-align: middle; color: {{ currentRoute=='account'?'#fff; border-bottom:5px solid #F9D951;':'#ccc' }}"><svg style="width:20px; height:20px; margin-top: -3px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="{{ currentRoute=='account'?'#fff':'#ccc' }}" d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg> {{ i18n.__("Home") }}</a>
      <a id="gotosend" class="navbar-brand" href="javascript:void (0);" style="margin-left:20px; vertical-align: middle; color: {{ currentRoute=='send'?'#fff; border-bottom:5px solid #F9D951;':'#ccc' }}"><svg style="width:20px; height:20px; margin-top: -3px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="{{ currentRoute=='send'?'#fff':'#ccc' }}" d="M318 177.5c3.8-8.8 2-19-4.6-26l-136-144C172.9 2.7 166.6 0 160 0s-12.9 2.7-17.4 7.5l-136 144c-6.6 7-8.4 17.2-4.6 26S14.4 192 24 192h88l0 288c0 17.7 14.3 32 32 32h32c17.7 0 32-14.3 32-32l0-288h88c9.6 0 18.2-5.7 22-14.5z"/></svg> {{ i18n.__("Send") }}</a>
      <a id="gotoreceive" class="navbar-brand" href="javascript:void (0);" style="margin-left:20px; vertical-align: middle; color: {{ currentRoute=='receive'?'#fff; border-bottom:5px solid #F9D951;':'#ccc' }}"><svg style="width:20px; height:20px; margin-top: -3px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="{{ currentRoute=='receive'?'#fff':'#ccc' }}" d="M318 334.5c3.8 8.8 2 19-4.6 26l-136 144c-4.5 4.8-10.8 7.5-17.4 7.5s-12.9-2.7-17.4-7.5l-136-144c-6.6-7-8.4-17.2-4.6-26S14.4 320 24 320h88l0-288c0-17.7 14.3-32 32-32h32c17.7 0 32 14.3 32 32l0 288h88c9.6 0 18.2 5.7 22 14.5z"/></svg> {{ i18n.__("Receive") }}</a>

      <a id="gotosign" class="navbar-brand" href="javascript:void (0);" style="margin-left:20px; vertical-align: middle; color: {{ currentRoute=='sign'?'#fff; border-bottom:5px solid #F9D951;':'#ccc' }}"><svg style="width:20px; height:20px; margin-top: -3px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="{{ currentRoute=='sign'?'#fff':'#ccc' }}"d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg> {{ i18n.__("Sign") }}</a>
      <a id="gotoverify" class="navbar-brand" href="javascript:void (0);" style="margin-left:20px; vertical-align: middle; color: {{ currentRoute=='verify'?'#fff; border-bottom:5px solid #F9D951;':'#ccc' }}"><svg style="width:20px; height:20px; margin-top: -3px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="{{ currentRoute=='verify'?'#fff':'#ccc' }}" d="M211 7.3C205 1 196-1.4 187.6 .8s-14.9 8.9-17.1 17.3L154.7 80.6l-62-17.5c-8.4-2.4-17.4 0-23.5 6.1s-8.5 15.1-6.1 23.5l17.5 62L18.1 170.6c-8.4 2.1-15 8.7-17.3 17.1S1 205 7.3 211l46.2 45L7.3 301C1 307-1.4 316 .8 324.4s8.9 14.9 17.3 17.1l62.5 15.8-17.5 62c-2.4 8.4 0 17.4 6.1 23.5s15.1 8.5 23.5 6.1l62-17.5 15.8 62.5c2.1 8.4 8.7 15 17.1 17.3s17.3-.2 23.4-6.4l45-46.2 45 46.2c6.1 6.2 15 8.7 23.4 6.4s14.9-8.9 17.1-17.3l15.8-62.5 62 17.5c8.4 2.4 17.4 0 23.5-6.1s8.5-15.1 6.1-23.5l-17.5-62 62.5-15.8c8.4-2.1 15-8.7 17.3-17.1s-.2-17.3-6.4-23.4l-46.2-45 46.2-45c6.2-6.1 8.7-15 6.4-23.4s-8.9-14.9-17.3-17.1l-62.5-15.8 17.5-62c2.4-8.4 0-17.4-6.1-23.5s-15.1-8.5-23.5-6.1l-62 17.5L341.4 18.1c-2.1-8.4-8.7-15-17.1-17.3S307 1 301 7.3L256 53.5 211 7.3z"/></svg> {{ i18n.__("Verify") }}</a>

      <a id="gotosettings" class="navbar-brand" href="javascript:void (0);" style="margin-left:20px; vertical-align: middle; color: {{ currentRoute=='settings'?'#fff; border-bottom:5px solid #F9D951;':'#ccc' }}"><span class="position-relative"><svg style="width:20px; height:20px; margin-top:-3px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="{{ currentRoute=='settings'?'#fff':'#ccc' }}" d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336c44.2 0 80-35.8 80-80s-35.8-80-80-80s-80 35.8-80 80s35.8 80 80 80z"/></svg>{% if (upgradeAvailable == true) %}<span class="position-absolute top-0 start-100 translate-middle bg-danger border border-light rounded-circle" style="padding: .2rem!important;"></span>{% endif %}</span> {{ i18n.__("Settings") }}</a>

      <a id="gotologout" class="navbar-brand" href="javascript:void (0);" style="float:right;"><svg style="width:20px; height:20px; margin-top:-3px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#ccc" d="M352 96l64 0c17.7 0 32 14.3 32 32l0 256c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l64 0c53 0 96-43 96-96l0-256c0-53-43-96-96-96l-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32zm-9.4 182.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L242.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"/></svg></a>

	  
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container" style="margin:0px; padding:0px; max-width:100%; padding-left:10px; padding-right:10px;">

{% block body %}{% endblock %}

  </div>

	<div id="mainfooter" class="nsf-bottom d-none d-sm-block" style="position: sticky; z-index:99999; bottom:0px; background-color: #000; height:19px; width:100%;">
		<div class="nsf-center" style="display: flex; flex-direction: row; margin: auto; font-size:13px; max-width:100%;">

			<div style="flex:1; width:50%; display: inline-block; text-align:left; white-space: nowrap; overflow: visible; margin-left:10px;">
				<span style="margin-right:20px;" id="connectionStatus">
							<svg style="margin-top:-3px;" width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect y="9.667" width="1.67" height="2.5" fill="#CCC"></rect>
								<rect x="4.44446" y="5.667" width="1.66667" height="6.67" fill="#CCC"></rect>
								<rect x="8.88892" y="3" width="1.66667" height="10.83" fill="#CCC"></rect>
								<rect x="13.3333" width="1.66667" height="15" fill="#CCC"></rect>
							</svg>
				</span>
			</div>
			
			
			<div style="flex:1;  width:50%; display: inline-block; text-align:right; white-space: nowrap; overflow: visible; margin-right:10px; color: #fff;">
				{{ i18n.__("Block #") }} <span id="blockChainHeight">0</span>			
			</div>

		</div>
	</div>
	
  <!-- Bootstrap core JavaScript -->
  <script>window.$ = window.jQuery = require('jquery');</script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/socket.io/socket.io.min.js"></script>
  <script src="../vendor/grid/gridjs.umd.js"></script>
  <script src="../vendor/clipboard.min.js"></script>
  <script src="../vendor/sweetalert.min.js"></script>
  <script src="../vendor/jquery.nicescroll.min.js"></script>

  <script>
    var socket = io('http://localhost:{{serverPort}}');
    socket.on('connect', function(){
    	console.log('connnected');
    });
    socket.on('event', function(data){});
    socket.on('disconnect', function(){});
  </script> 
  <script>
    //load in node libraries
    require('../renderer.js')
  </script>
  <script>
  
  	$('#gotohome').on('click', function() {
  	
  		router.route('GET', '/account', () => {});
  	
  	});

  	$('#gotosend').on('click', function() {
  	
  		router.route('GET', '/send', () => {});
  	
  	});
  	
  	$('#gotoreceive').on('click', function() {
  	
  		router.route('GET', '/receive', () => {});
  	
  	});

  	$('#gotosign').on('click', function() {
  	
  		router.route('GET', '/sign', () => {});
  	
  	});

  	$('#gotoverify').on('click', function() {
  	
  		router.route('GET', '/verify', () => {});
  	
  	});
  	
  	$('#gotosettings').on('click', function() {
  	
  		router.route('GET', '/settings', () => {});
  	
  	});
  	
  	$('#gotologout').on('click', function() {
  	
  		router.route('GET', '/logout', () => {});
  	
  	});
  	
  </script>
  {% block javascripts %}{% endblock %}
  
</body>

</html>
