
	<div class="user-form2" id="userform2">
		<div class="right">
			<form class="accountWrapper" onsubmit="event.preventDefault();">
				<center><h2>{{ i18n.__("Account Balance") }}: <span id=':' style="cursor:pointer">{{accountBalance}}</span> PDN</h2></center><br />
				<fieldset>
					<div class="form-group">
						<label>{{ i18n.__("Send To Account") }}</label>
						<input id="toaccount" type="text" name="toaccount" class="form-control" autofocus/>
						<span id="accounterr" style="color: red;"></span>
					</div>
					<div class="form-group">
						<label>{{ i18n.__("Amount") }}</label>
						<input id="amount" type="number" name="amount" class="form-control" autofocus/>
						<span id="amounterr" style="color: red;"></span>
					</div>
					<div class="form-group">
						<label>{{ i18n.__("Your Encryption Password") }}</label>
						<input id="password" type="password" name="password" class="form-control form-control-password" />
						<span id="passerr" style="color: red;"></span>
					</div>
					<button id="sendbutton" class="btn btn-primary nimmu-user-sibmit-button">{{ i18n.__("Send") }}</button>
					<div class="progress" id="loginprogress" style="display:none; height:50px;">
					  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; color: #fff; text-align:center;">{{ i18n.__("Sending Transaction") }} ...</div>
					</div>
					{{ i18n.__("Sending Transaction Fee") }}: 0.0001 PDN
				</fieldset>
			</form>
		</div>
	</div>

