
	<div class="user-form2" id="userform2">
		<div class="right">
			<form class="accountWrapper" onsubmit="event.preventDefault();">
				<fieldset>
					
					<div class="form-group">
						<label>{{ i18n.__("Enter Message to Verify") }}</label>
						<textarea id="message" name="message" class="form-control" autofocus style="width:100%; height: 100px;" ></textarea>
					</div>

					<div class="form-group">
						<label>{{ i18n.__("Enter the Signers Public Key") }}</label>
						<input id="publickey" type="text" name="publickey" class="form-control" />
						<span id="publickeyeerr" style="color: red;"></span>
					</div>
					
					<div class="form-group">
						<label>{{ i18n.__("Enter the Signature to Validate") }}</label>
						<input id="signature" type="text" name="signature" class="form-control" />
						<span id="signatureerr" style="color: red;"></span>
					</div>

					
					<button id="validatebutton" class="btn btn-primary nimmu-user-sibmit-button">{{ i18n.__("Validate") }}</button>
					<div class="progress" id="validateprogress" style="display:none; height:50px;">
					  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; color: #fff; text-align:center;">{{ i18n.__("Validating Message") }} ...</div>
					</div>

					<div class="form-group" id="validateresults" style="text-align:center; margin-top:10px;"></div>

				</fieldset>
			</form>
		</div>
	</div>
